.navbar {
    margin: 0;
    padding:2%;
   
}

.key {
    width: 10%;

    float: left;
}



.formu{
    border: 1px solid #cccccc;
    margin-top:5%;
    border-radius:5px;
    background: #e6e6e6;
    padding:3%;

    
}


.btn-info{
    background:#007bff
}








/* Header */

// .nav li a {


//     padding: 5%;
//     padding-right: 2%;
// }

.header {

    color: black;
    margin-left: 7%;
    font-size: 120%;
}

.headerLink {

    margin-left: 7%;
    font-size: 120%;
    color: black;
}

.navbar a {
    color: black !important;
    font-size: 120%;
}

.navlink {
    color: black;
}


.search {
    margin-left: 5%;
}


/* Cierre Header */

.synthImage {
    border-radius: 3px;
}

.synthImage {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.footer {
    width: 100%;
    margin-top:4%;

    background: black;
}

.footer ul li {
    color: white;
    list-style: none;
    text-decoration: none;
}

.footer ul li a {
    color: white;
}

.footer ul li a:hover {
    color: grey;
    transition: .3s;
}


.lead {
    font-size: 250%!important;
    /*color: white; */
    border-radius: 5px;
    /*background: #0069d9;*/
    padding: 3%;
    color: black;
    text-align: center;
    /*opacity:.8; */
}

p {
    font-size: 150%;
}








.copyRight {
    opacity: .9;
    margin-top: 10%;
    color: white;
    text-align: center;
    padding-left: 5%;
}

.mainButtons {
    opacity: .9;
}

@media screen and (max-width: 800px) {
    .key {
        display: none;
    }
}


@media screen and (max-width: 620px) {
    .headerLink {

        font-size: 80%;
    }

    .header a {}

    .invisible {
        display: none;
    }

    .lead {
        font-size: 180%!important;

    }

    .header ul li a {
        display: block;
    }
}