script(src='js/jquery-3.2.1.slim.min.js')
script.
  window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
script(src='js/popper.min.js')
script(src='js/holder.min.js')
script.
  $(function() {
  Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
  });
// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='js/ie10-viewport-bug-workaround.js')
script(src='js/bootstrap.min.js')
script(src='js/index.js')
script(src='js/main.js')

