doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Synth Radar
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='css/styles.css')
    link(rel='icon', href='img/favicon.ico')
  body
    nav.navbar.navbar-default
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Home
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='login')
                | Login 
                span.sr-only (current)
            li
              a(href='register') Register
          form.navbar-form.navbar-right(method='get', action='/search')
            .form-group
              input.form-control(type='text', placeholder='Search', aria-label='Search', name='title')
            button.btn.btn-default(type='submit') Submit
        // /.navbar-collapse
      // /.container-fluid
    section.center.jumbotron.text-center
      .container
        h1.jumbotron-heading Synth Radar
        hr
        a.dataRadar.btn.btn-lg(href='/') DataRadar
        a.uploadProduct.btn.btn-lg(href='upload-product') Upload Product
        p
    .album.text-muted
      .container
        p.lead
          | If you are a synthesizer nerd, find whatever you are looking for around the world and receive alerts when it is available!
        .row
          each synth in synths
            .rowSynth.col-lg-4
              .thumbnail
                img#sh101.synthImage(target='_blank')
                #sh101.synthImage(target='_blank' style='background-image: url("'+ synth.image +'")')
                .caption
                  h3.h3 #{ synth.title }
                  p= synth.description
                  p
                    a.btn.btn-primary(href=('item/' + synth._id), role='button', target="_blank") +Info
                    a.btn.btn-default(href='contact', role='button') Contact 
              


         
    script(src='js/jquery-3.2.1.slim.min.js')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='js/popper.min.js')
    script(src='js/holder.min.js')
    script.
      $(function() {
      Holder.addTheme("thumb", { background: "#55595c", foreground: "#eceeef", text: "Thumbnail" });
      });
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
    svg(xmlns='http://www.w3.org/2000/svg', width='356', height='280', viewbox='0 0 356 280', preserveaspectratio='none', style='display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;')
      defs
        style(type='text/css').
      text(x='0', y='18', style='font-weight:bold;font-size:18pt;font-family:Arial, Helvetica, Open Sans, sans-serif') 356x280
    .footer.container-fluid
      .row
        .col-lg-1
        .col-lg-6
          a.copyRight(href='mailto:joelvila101@gmail.com') Copyright © Joël Vila
    script(src='js/bootstrap.min.js')
    //- script(src='js/index.js')
