doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='http://getbootstrap.com/favicon.ico')
    title Upload Product
    link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='css/upload-product.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index') Home
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='login')
                | Login 
                span.sr-only (current)
            li
              a(href='register') Register
          form.navbar-form.navbar-right
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
    .formu.container
    .row
      .col-lg-2.col-sm-2.py-2
      .col-lg-6.col-sm-6.py-4
        h1.upload Upload a product
        .mainForm
          form#form-group.signup-form(action='/upload-product', method='POST')
            .form-group
              label.title(for='title') Title:
              input.form-control(type='text', name='title', placeholder='Title of this model')
              label(for='buyOrSell') What would you like to do?:
              fieldset
                input(type='radio', name='buyOrSellIt', required='', value='sell', checked='true')
                | Sell it
                br
                input(type='radio', name='buyOrSellIt', required='', value='buy', checked='true')
                | Buy it
              label.kindOfItem(for='kindOfItem') Kind of item:
              fieldset
                input(type='radio', name='kindOfProduct', value='synthesizer', required='true', checked='true')
                |  Synthesizer
                br
                input(type='radio', name='kindOfProduct', required='true', value='newOther')
                | Drumbox/Sampler
                br
                input(type='radio', name='kindOfProduct', required='true', value='other')
                |  Effects
                br
                input(type='radio', name='kindOfProduct', required='true', value='manufacturerRefurbished')
                | Others
              label.brand(for='brand') Brand:
              input.form-control(type='text', name='brand', placeholder='Brand of this model')
              label(for='model') Model:
              input.form-control(type='text', name='model', placeholder='Write the model')
              label(for='location ') Location:
              input.form-control(type='text ', name='location', placeholder='Where do you live? ')
              fieldset
                label(for='kindOfProduct') Condition:
                select.condition(name='condition', form='form-group')
                  option(value='new') New
                  option(value='newOther') New other (see details)
                  option(value='other') Other
                  option(value='manufacturerRefurbished') Manufacturer refurbished
                  option(value='sellerRefurbished') Seller refurbished
                  option(value='used') Used 
                  option(value='notWorking') For parts or not working 
              label.description(for='description') Description
              fieldset
                textarea.required(name='description', rows='10', cols='50', placeholder='Write a little explanation about state of the product, how it works, etcetera')
              label(for='price ') Price:
              input.form-control.col-lg-2(type='text ', name='price', placeholder='€')
              label(for='price ') Image:
              input.form-control.col-lg-2(type='text ', name='image', placeholder='Upload an image URL')
            input(type='file', name='')
            button.submit.btn.btn-info.col-lg-2(type='submit ') Submit
    .footer.container-fluid
      ul
        li
          a(href='mailto:joelvila101@gmail.com ') Copyright © Joël Vila
        li
    script(src='js/jquery-3.2.1.slim.min.js', crossorigin='anonymous ')
    script.
      window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js "><\\\/script>')
    script(src='js/popper.min.js ')
    script(src='js/holder.min.js ')
    script.
      $(function() {
      Holder.addTheme("thumb ", { background: "#55595c ", foreground: "#eceeef ", text: "Thumbnail " });
      });
    script(src='js/bootstrap.min.js ')
    script(src='js/uploadProduct.js ')
    script(src='js/ie10-viewport-bug-workaround.js')
    script(src='js/uploadProduct.js')
    svg(xmlns='http://www.w3.org/2000/svg ', width='356 ', height='280 ', viewbox='0 0 356 280 ', preserveaspectratio='none ', style='display: none; visibility: hidden; position: absolute; top: -100%; left: -100%; ')
      defs
        style(type='text/css ').
      text(x='0 ', y='18 ', style='font-weight:bold;font-size:18pt;font-family:Arial, Helvetica, Open Sans, sans-serif ') 356x280